#adminmenuback , #adminmenuwrap { display: none; }
#wpcontent { margin-left:0; }
#zn_pb_content_wrapper iframe , #zn_pb_content_wrapper { width: 100%;height: 100%; }

/* OBLIQUE BUTTON DISABLER */
.zn_disable_oblique { line-height: 30px; }
.zn_disable_oblique > span{ margin-right: 10px; }
.zn_disable_oblique > * { float: left; }



.zn_front_pb_wrap {position: fixed;bottom: 0;width: 100%;background: #fff;z-index: 1000;-webkit-backface-visibility: hidden; font-size: 14px; line-height: 1.5; }

.zn_pb_animate {-webkit-transition: all 0.15s ease-out; transition: all 0.15s ease-out; }

.zn_pb_header {z-index: 1;position: relative;}
.zn_fpb_buttons {line-height: 49px; white-space: nowrap;}
.zn_fpb_buttons a {padding: 7px 15px;text-decoration: none;color: #000; font-weight: normal; margin: 9px 0;}
.zn_fpb_buttons.zn_left a:hover {text-decoration: none;color:#969595; }
.zn_fpb_buttons.zn_left a {color: #bababa;font-weight: bold; }
.zn_fpb_buttons.zn_left .zn-pb-active-tab,
.zn_fpb_buttons.zn_left .zn-pb-active-tab:hover {color:#31BBBA;}
.zn_fpb_buttons.zn_right  a { float:left;}
.zn_fpb_buttons a, .zn_fpb_buttons.zn_left #klpb-toolbar a {border-right: 1px solid #bababa;}
.zn_fpb_buttons a:last-child {border: none;}

.zn_pb_icon .dashicons {vertical-align: middle; }
.znpb-editor-hidden .zn_pb_close_panel .dashicons:before {content: "\f343";}

.zn_left {float: left;}
.zn_right {float: right;}

.zn_fpb_buttons a.zn_publish {
margin: 0;
padding: 0px 25px;
background: #3AC4C3;
color: #FFF;
overflow: hidden;
font-weight: bold;
display: block;
position:relative;
}

.znpb_custom_action > * {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.znpb_custom_action .zn_toggle2 label {
  margin-bottom: 0;
}

/* PB Search */
.zn_pb_search[type=search] {background:#fff;height: 29px;margin: 10px 20px;float: left;line-height: 20px;border: 1px solid #ddd;border-radius: 20px;padding: 0 15px;color:#A0A0A0;font-size: 14px;width: auto; -webkit-box-shadow: none; box-shadow: none; outline: none; width:200px;}
.zn_pb_search[type=search]:hover {border-color:#ababab;}
/*.zn_pb_search[type=search]:focus { border-color: #D4D4D4; box-shadow: 0 0 13px rgba(0,0,0,0.2);}*/
.zn_pb_search[type=search]:focus { border-color: #3AC4C3; -webkit-box-shadow: 0 0 13px rgba(58, 196, 195, 0.6); box-shadow: 0 0 13px rgba(58, 196, 195, 0.6);}
.zn_pb_search[type=search]::-webkit-search-cancel-button{ position: relative; right: -5px; -webkit-appearance: searchfield-cancel-button; opacity: 1; cursor: pointer;}

#ZnnoMatches {display: none;}

.zn_pb_editor_right_action { float: left; }



/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;

}

.isotope {
  -webkit-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property:         opacity, -webkit-transform;
  transition-property:         opacity, -webkit-transform;
  transition-property:         transform, opacity;
  transition-property:         transform, opacity, -webkit-transform;

/*          -webkit-box-sizing: initial;
-moz-box-sizing: initial;
box-sizing: initial;*/
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}


.zn_pb_element_container {width: 100px;text-align: center;margin: 10px;display: inline-block;cursor: move;min-height: 171px;}
.zn_pb_element {width: 100px;text-align: center;}

/* WHILE DRAGGING */
.zn_pb_element.ui-draggable-dragging {}
.zn_pb_element.ui-draggable-dragging .zn_pb_el_title ,.zn_pb_element.ui-draggable-dragging .zn_pb_el_category  {display: none;}


/* SIDEBAR AND ELEmENTS */
.zn_pb_el_icon { width: 100px;height: 100px; margin-bottom: 5px;}
.zn_pb_el_title {font-size: 12px; font-weight: bold; color:#000; line-height: 1.5; word-wrap: break-word;}
.zn_pb_el_title.zn_pb_el_title-tooltip:after {  font-size: 11px; font-weight: 400; max-width: 180px; white-space: normal; min-width: 130px; line-height: 1.4; }
.zn_pb_el_category {font-size: 10px;font-weight: bold; color:#646464;}


/* START SORTABLE STYLES */
.zn_pb_spinner {float: left;background: url("../img/ajax-loader.gif") no-repeat center center;width: 100%;height: 39px;}
.zn_el_options_bar {padding:0 15px;background: #2c2e38; z-index: 1000; overflow: hidden; line-height: 24px; font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.zn_el_options_bar:hover {z-index:9999 !important;}
.zn_dragg_enabled .zn_el_options_bar {display: none;}
.zn_el_options_bar > .zn_pb_icon {font-size: 11px;color: #fff;width: 22px;}
.zn_el_options_bar > span {font-size: 13px; color: #fff; line-height: 28px; white-space: nowrap; -webkit-flex-basis: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1;}
.zn_el_options_bar > a ,
.zn_el_options_bar > a:hover {color: #fff !important;text-decoration: none; padding: 2px 5px; display: inline-block;}

/* ELEMENT ACTIONS */
.zn_pb_el_container .zn_el_options_bar  .zn_pb_icon {cursor: pointer;text-align: center; line-height:20px;-webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; display: block;}
.zn_el_options_bar > .zn_pb_icon:hover {background: #3ac4c3; color: rgba(255, 255, 255, 0.8);}

body.zn_pb_loading:before { content:" "; position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 99999999;display: block;background:#fff url("../img/ajax-loader.gif") no-repeat center center; }

.zn_upload_image_button {float: left;padding: 10px 20px;background: #1ABC9C;color: #fff; cursor: pointer;}


/* TODO MAKE BETTER STYLE */
.zn_content  {}
.zn_content {min-height: 30px;}

.zn_no_content {padding: 30px; border: 3px dashed #3ac4c3; color: #3ac4c3; text-align: center;font-weight: bold;margin: 20px 0; }



/* PB SIDEBAR */


.zn_pb_groups {margin: 0;padding: 0;}
.zn_pb_groups li {background: #31323b;margin-bottom: 1px; list-style: none; }
.zn_pb_groups li a {color: #fff;padding: 10px 15px;color:#8e8f9d;display:block;text-transform:uppercase;position:relative; text-decoration: none; }
.zn_pb_groups li a:focus {  outline: none; }
.zn_pb_groups li a:hover {text-decoration: none;background: #2c2e38;color: #C1C1C9;}
.zn_pb_groups li a.zn_pb_selected {background: #3ac4c3;color: #fff;}
/*.zn_pb_groups li a.zn_pb_selected:after {z-index:1000;left: 100%; border: solid transparent; content: " "; height: 50px; width: 0; position: absolute; border-left-color: #3ac4c3; border-width: 22px 15px; top: 0px; }*/
.zn_pb_circle {border-radius: 50%; width: 8px; height: 8px;background: #3a3b45;display: inline-block;margin-right: 10px;margin-bottom: 1px; }
.zn_pb_groups li a.zn_pb_selected .zn_pb_circle , .zn_pb_groups li a.zn_pb_selected:hover .zn_pb_circle{background: #36b6b5;}
.zn_pb_groups li a:hover .zn_pb_circle {background: #6A6B75;}



.zn_error {border:1px solid red !important;}

/* DRAGBAR */
.zn_pb_dragbar {width: 100%; height:4px; background: #000; cursor: row-resize; -webkit-transition: all .2s; transition: all .2s}
.zn_pb_dragbar:hover {height: 15px; opacity:.6;}


.zn_hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
   width: 100%;
}

/* ELEMENT OPTION BARS */

/* Default element bar */
.zn_pb_el_container > .zn_el_options_bar {background:#3AC4C3; position: absolute; top: 0; visibility:hidden; -webkit-transition:all 0.3s; transition: all 0.3s; opacity: 0; margin-top: -10px; border-radius:3px; -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25); box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25); }

.zn_pb_el_container:not(.zn_element_zncolumn) > .zn_el_options_bar { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; min-width: 250px; max-width: 500px; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse;}
.zn_pb_el_container:not(.zn_element_zncolumn) > .zn_el_options_bar {left: 50%; -webkit-transform: translateX(-50%);transform: translateX(-50%);}
.zn_pb_el_container:not(.zn_element_zncolumn) > .zn_el_options_bar .znpb-element-title {margin-right:20px;}

/* Column lateral bar */
.zn_element_zncolumn > .zn_el_options_bar {top:50%; height: 187px; background:#2c2e38; width: 22px; left: -7px; padding: 0; margin-left: 0; z-index: 999; }

/* Section Bottom Bar */
.zn_element_znsection > .zn_el_options_bar {background:#73C2E0; top: 100%; }
/* Section Option Bar */
.zn_element_znsection:hover > .zn_el_options_bar {margin-top:-14px;}
.zn_element_znsection:hover:last-child > .zn_el_options_bar {margin-top: -28px}

/* Tweak for toolbar's position in the context of a single section (especially being full-height) */
.zn_pb_wrapper .zn_element_znsection:first-child:only-child > .zn_el_options_bar {margin-top: -28px;}

/* TextBox Bottom Bar */
.zn_pb_el_container.zn_element_th_textbox > .zn_el_options_bar {background:#175252; top: 100%; margin-top:-14px;}
.zn_element_znsection:last-child .zn_pb_el_container.zn_element_th_textbox:hover > .zn_el_options_bar {margin-top: -28px}
.zn_element_th_textbox.zn_pb_el_container:hover {outline-color: #175252;}

/* Smart / Custom Container Top Bar */
.zn_element_zncustomcontainer.zn_pb_el_container:hover {outline-color: #535353;}
.zn_element_zncustomcontainer  > .zn_el_options_bar { background:#535353; left:50px; margin-left:0; margin-top: -20px; padding-top: 5px; padding-bottom: 5px;}
.zn_element_zncustomcontainer.zn_pb_el_container:first-child:hover > .zn_el_options_bar {margin-top: -10px;}
/* Smart / Custom Container Columns Bar */
.zn_col_container-smart_container > .zn_element_zncolumn > .zn_el_options_bar,
.zn_col_container-smart_container > .zn_element_zncolumn > .zn_el_options_bar .znpb_sizes_container { background: #535353;}
/* Smart Container in Smart Container on 2 levels, Options Bars colors */
.zn_element_zncustomcontainer .zn_element_zncustomcontainer > .zn_el_options_bar ,
.zn_col_container-smart_container .zn_col_container-smart_container > .zn_element_zncolumn > .zn_el_options_bar,
.zn_col_container-smart_container .zn_col_container-smart_container > .zn_element_zncolumn > .zn_el_options_bar .znpb_sizes_container { background: #7d7d7d;}
/* Smart Container in Smart Container on 3 levels, Options Bars colors */
.zn_element_zncustomcontainer .zn_element_zncustomcontainer .zn_element_zncustomcontainer > .zn_el_options_bar ,
.zn_col_container-smart_container .zn_col_container-smart_container .zn_col_container-smart_container > .zn_element_zncolumn > .zn_el_options_bar,
.zn_col_container-smart_container .zn_col_container-smart_container .zn_col_container-smart_container > .zn_element_zncolumn > .zn_el_options_bar .znpb_sizes_container { background: #999;}

/* Media Container Top Bar */
.zn_element_th_mediacontainer.zn_pb_el_container:hover {outline-color: #560846;}
.zn_element_th_mediacontainer  > .zn_el_options_bar {background:#560846; left:60px; margin-left:0; margin-top: -20px; padding-top: 5px; padding-bottom: 5px;}
/* Media Container Columns Bar */
.zn_col_container-media_container > .zn_element_zncolumn > .zn_el_options_bar,
.zn_col_container-media_container > .zn_element_zncolumn > .zn_el_options_bar .znpb_sizes_container {background: #560846;}

/* Smart Carousels Top Bar */
.zn_element_znsmartcarousel.zn_pb_el_container:hover {outline-color: #0f38a5;}
.zn_element_znsmartcarousel  > .zn_el_options_bar {background:#0f38a5; left:60px; margin-left:0; margin-top: -20px; padding-top: 5px; padding-bottom: 5px;}
/* Smart Carousels Columns Bar */
.znSmartCarousel-container > .zn_element_zncolumn > .zn_el_options_bar,
.znSmartCarousel-container > .zn_element_zncolumn > .zn_el_options_bar .znpb_sizes_container {background: #0f38a5;}


/* OPTIONS BAR ANIMATION */
.zn_pb_el_container:hover > .zn_el_options_bar {visibility:visible;opacity: 1;margin-top: -10px;}
/* Columns in columns top */
.zn_element_zncolumn:hover > .zn_el_options_bar {margin-top:-75px;}
.zn_element_zncolumn > .zn_el_options_bar + div .zn_element_zncolumn:hover > .zn_el_options_bar {margin-top:-55px;}
.zn_element_zncolumn > .zn_el_options_bar + div .zn_element_zncolumn > .zn_el_options_bar + div .zn_element_zncolumn:hover > .zn_el_options_bar {margin-top:-35px;}
.zn_element_zncolumn > .zn_el_options_bar + div .zn_element_zncolumn > .zn_el_options_bar + div .zn_element_zncolumn > .zn_el_options_bar + div .zn_element_zncolumn:hover > .zn_el_options_bar {margin-top:-15px;}
/* Not recommended, but hey */
.zn_element_zncolumn > .zn_el_options_bar + div .zn_element_zncolumn > .zn_el_options_bar + div .zn_element_zncolumn > .zn_el_options_bar + div .zn_element_zncolumn:hover > .zn_el_options_bar + div .zn_element_zncolumn:hover > .zn_el_options_bar {margin-top:5px;}

/* Fullwidth section 1st column left option bar */
.zn_section_size.full_width > .row > .zn_pb_el_container:not([class*="offset"]):first-child:hover > .zn_el_options_bar,
.zn-sectionContainer--full > .row > .zn_pb_el_container:not([class*="offset"]):first-child:hover > .zn_el_options_bar,
.zn_sticky_section_size.full_width > .row > .zn_pb_el_container:not([class*="offset"]):first-child:hover > .zn_el_options_bar {left: 15px;}
/* Fullwidth section 1st column left option bar in SMART CONTAINER */
.zn_pb_wrapper > .zn_element_zncustomcontainer .row > .zn_pb_el_container:not([class*="offset"]):first-child:hover > .zn_el_options_bar {left: 15px;}

/* Fullwidth section 1st column left option bar when with Gutter Size */
/* Gutter Sizes - Large */
.zn_section_size.full_width > .row.gutter-lg > .zn_pb_el_container:first-child:hover > .zn_el_options_bar,
.zn-sectionContainer--full > .row.gutter-lg > .zn_pb_el_container:first-child:hover > .zn_el_options_bar,
.zn_pb_wrapper > .zn_element_zncustomcontainer .row.gutter-lg > .zn_pb_el_container:first-child:hover > .zn_el_options_bar { left:40px; }
/* Gutter Sizes - Medium */
.zn_section_size.full_width > .row.gutter-md > .zn_pb_el_container:first-child:hover > .zn_el_options_bar,
.zn_pb_wrapper > .zn_element_zncustomcontainer .row.gutter-md > .zn_pb_el_container:first-child:hover > .zn_el_options_bar { left:25px; }
/* Gutter Sizes - Small */
.zn_section_size.full_width > .row.gutter-sm > .zn_pb_el_container:first-child:hover > .zn_el_options_bar,
.zn-sectionContainer--full > .row.gutter-sm > .zn_pb_el_container:first-child:hover > .zn_el_options_bar,
.zn_pb_wrapper > .zn_element_zncustomcontainer .row.gutter-sm > .zn_pb_el_container:first-child:hover > .zn_el_options_bar { left:10px; }
/* Gutter Sizes - Extra small */
.zn_section_size.full_width > .row.gutter-xs > .zn_pb_el_container:first-child:hover > .zn_el_options_bar,
.zn-sectionContainer--full > .row.gutter-xs > .zn_pb_el_container:first-child:hover > .zn_el_options_bar,
.zn_pb_wrapper > .zn_element_zncustomcontainer .row.gutter-xs > .zn_pb_el_container:first-child:hover > .zn_el_options_bar { left:5px; }
/* Gutter Sizes - zero gutter */
.zn_section_size.full_width > .row.gutter-0 > .zn_pb_el_container:first-child:hover > .zn_el_options_bar,
.zn-sectionContainer--full > .row.gutter-0 > .zn_pb_el_container:first-child:hover > .zn_el_options_bar,
.zn_pb_wrapper > .zn_element_zncustomcontainer .row.gutter-0 > .zn_pb_el_container:first-child:hover > .zn_el_options_bar { left:0px; }



.zn_element_zncolumn > .zn_el_options_bar .znpb-element-title {display: none; }


/* PB HOVERS */
.zn_pb_el_container .zn_content{outline: 1px dashed transparent; -webkit-transition: outline-color 0.3s; transition: outline-color 0.3s;}
.zn_pb_el_container {position: relative;}

/* ELEMENTS COLOR */
.zn_pb_el_container:hover,
.zn_pb_el_container.zn_droppable .zn_content { outline: 1px dashed #3AC4C3; outline-offset:1px; }
/* COLUMN COLOR */
.zn_element_zncolumn:hover,
.zn_element_zncolumn.zn_droppable .zn_content {outline-color:#2c2e38;}
/* SECTION COLOR */
.zn_element_znsection:hover,
.zn_element_znsection.zn_droppable .zn_content {outline-color:#73C2E0;}

/* HIDE OUTLINES ON OPTIONS EDIT */
.znpb-options-opened .zn_pb_el_container , .znpb-options-opened .zn_pb_el_container:hover {outline: none !important;}
.znpb-options-opened .zn_pb_el_container:hover .zn_el_options_bar {display: none !important;}

.zn_pb_wrapper {position: relative}
.zn_pb_wrapper > .zn_pb_el_container:first-child > .zn_el_options_bar {margin-top: 0;}

/* GROUP ADD MORE */
.zn_add_button {background: #31A8A7;}

/* NO CONTENT */
.zn_pb_no_content {text-align: center; cursor: pointer; /* background-color: #F5F5F5; */ -webkit-transition: all .3s ease-in-out !important; transition: all .3s ease-in-out !important;  min-height: 90px; height: 100%; position: relative;}
.zn_pb_no_content::after { margin: -25px 0 0 -25px; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; content: "\f132" !important; font-family: dashicons; color: #D8D8D8; text-align: center; font-size: 18px; display: inline-block !important; vertical-align: text-top; border: 2px solid currentColor; border-radius: 50%; width: 50px; height: 50px; line-height: 50px; position: absolute; top: 50%; left: 50%;}
.zn_pb_no_content .zn_element_placeholder {top: 50%; position: absolute;}
.zn_pb_no_content:hover { background-color: #EFEFEF; }
.zn_pb_no_content:hover::after { color:#31A8A7;}


/* Effect 2: Move Up */
@-webkit-keyframes ZnBounceIn {
  0% {
  opacity: 0;
  -webkit-transform: scale(0);
  }

  20% {
  opacity: 0;
  -webkit-transform: scale(0);
  }

  100% {
   opacity: 1;
  -webkit-transform: scale(1);
  }
}

@keyframes ZnBounceIn {
  0% {
  opacity: 0;
  -webkit-transform: scale(0);
		  transform: scale(0);
  }

  80% {
  opacity: 0;
  -webkit-transform: scale(0);
		  transform: scale(0);
  }

  100% {
  opacity: 1;
  -webkit-transform: scale(1);
		  transform: scale(1);
  }
}

.ZnBounceIn {
  -webkit-animation-name: ZnBounceIn;
  animation-name: ZnBounceIn;
}

.znpb-animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
/*  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;*/
}

/* LOADING BAR */
.znpb-loading-bar {margin:40px 0; height: 5px; display: none;}
.znpb-loading-bar-inner {margin:40px auto; background: #5EE2E1;width: 300px;max-width:100%;}
.znpb-loading-bar-inner-loading {background: #31A8A7; width: 0%;height: 5px; -webkit-transition: all 500ms ease-in-out; transition: all 500ms ease-in-out;}
.znpb-loading-in-progress .znpb-loading-bar {display: block;}
.znpb-options-form-active .znpb-loading-bar {display: block;}


/* ELEMENTS TWEAKS */
.zn_element_znseparator {padding: 2px 0;}

.zn-pb-notification {color:#fff;text-align: center;margin: 15px;padding: 25px;font-weight: bold;background: #FF4242;}
.zn-pb-notification.zn-pb-notification--orange {background: #f9994b;}
.zn-pb-notification a,
.zn-pb-notification h3 { color: #fff !important;}
.zn-pb-notification a {text-decoration:underline;}



.zn_sortable {min-height: 30px;}
/*.zn-state-highlight {max-height: 32px;clear: none;display: block;margin: 10px 0;width: 100%;height: 32px;}*/

.znpb-placeholder {clear:both;background: #3AC4C3;text-align: center;color: #fff;padding: 5px;z-index: 1000;font-size:13px;font-weight: bold;text-transform: uppercase;width: 100%;}

.zn-state-highlight {height: 0px;width: 100%;clear: both;position: relative;}
.zn-state-highlight:after { content:" ";position: absolute;width: 100%;border: 1px solid #000;height: 1px; top:-5px;}

/* HIDE STUFF ON HIDDEN */
.zn_dragg_enabled .zn_element_znsection:hover,
.zn_dragg_enabled .zn_element_znsection.zn_droppable .zn_content,
.zn_dragg_enabled .zn_element_zncolumn:hover,
.zn_dragg_enabled .zn_element_zncolumn.zn_droppable .zn_content { outline: none; }
.zn_dragg_enabled .zn_pb_wrapper  .zn_drop_allowed { outline: 1px dashed #3AC4C3; position: relative; }
.zn_dragg_enabled .znpb-no-content { display: none; }

/* PLACEHOLDERS */
.zn_columns_placeholder ,
.zn_element_placeholder ,
.zn_dragging_placeholder {height: 32px;}
.zn_dragging_placeholder { opacity: 0; }
.znpb-placeholder ,
.znpb-helper-placeholder { line-height: 22px;background: #248181;text-align: center;color: #fff;padding: 5px;z-index: 1000;font-size:13px;font-weight: bold;text-transform: uppercase;width: 100%; }
.zn_original_placeholder {opacity: 0.5;}
.znpb-helper-placeholder { background: #3AC4C3; height: 32px;width: 250px; }
/* Columns Placeholder, old solution */
/*.zn_columns_placeholder { float: left; position: relative; width: 0px; }
.zn_columns_placeholder .znpb-placeholder {display: block; position: absolute; height: 100%; width: 18px; margin-left: -9px; padding: 0; display: block; background: url(../img/pb_col_plus_y.svg) no-repeat center;}*/
/* Columns Placeholder, new solution */
.zn_columns_placeholder { float: left; position: relative; width: 0px; height: 25px; height: auto !important;}
.zn_columns_placeholder .znpb-placeholder {display: none;}
.zn_columns_placeholder + div:not(:last-child):before {content:'';position: absolute;top: 0;left: 0; height: 100%; margin-left: -9px; width: 18px; background: url(../img/pb_col_plus_y.svg) no-repeat center;}
 /* cannot be last because there's the ui-dragging */
.zn_columns_placeholder:last-child,
.zn_columns_placeholder:nth-last-child(2) {float:left; width: 0; height: 100%; min-height:140px; }
.zn_columns_placeholder:last-child .znpb-placeholder,
.zn_columns_placeholder:nth-last-child(2) .znpb-placeholder { display: block; position: absolute; height: 100%; width: 18px; margin-left: -9px; padding: 0; display: block; background: url(../img/pb_col_plus_y.svg) no-repeat center;}

/*Elements placeholder*/
.zn_element_placeholder {width: 100%; height: 0px;}
.zn_element_placeholder .znpb-placeholder { position: absolute; height: 18px; margin-top:-9px; width: 100%; padding: 0; display: block; background: url(../img/pb_col_plus_x.svg) no-repeat center;}
.zn_element_zncolumn > .zn_sortable_content { margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px;}



/* COLUMNS SIZES */
.zn_pb_select_width:hover .znpb_sizes_container {display: block;}
.znpb_sizes_container {display:none;position: absolute;left: 22px;top: 0;background: #474852;color: #fff;width: 100px;}
.znpb_sizes_container > span {display: block;float: left;width: 50px;height: 26px;line-height: 26px;}
.znpb_sizes_container span:nth-child(odd) {border-right: 1px solid #fff;}
.znpb_sizes_container span.selected_width , .znpb_sizes_container span:hover {background: #3AC4C3;}
.zn_el_options_bar {overflow: visible;}



/* TEST SCROLL BARS */




/* NEW ICONS */
@font-face {
  font-family: 'zn-framework';
  src: url('../icons/zn-framework.eot?29068176');
  src: url('../icons/zn-framework.eot?29068176#iefix') format('embedded-opentype'),
   url('../icons/zn-framework.woff?29068176') format('woff'),
   url('../icons/zn-framework.ttf?29068176') format('truetype'),
   url('../icons/zn-framework.svg?29068176#zn-framework') format('svg');
  font-weight: normal;
  font-style: normal;
}

.zn_pb_icon:before {

  font-family: "zn-framework";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.zn_el_options_bar .zn_pb_icon:before{
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}


.znpb_icon-cancel:before { content: '\e804'; } /* '' */
.znpb_icon-docs:before { content: '\e800'; } /* '' */
.znpb_icon-cog-alt:before { content: '\e801'; } /* '' */
.znpb_icon-resize-full:before { content: '\e802'; } /* '' */
.znpb_icon-move:before { content: '\e803'; } /* '' */
.znpb_icon-save:before { content: '\e805'; } /* '' */
.znpb_icon-eye:before { content: '\e806'; } /* '' */
.znpb_icon-eye_hide:before { content: '\e807'; } /* '' */

.znpb_form_close {padding: 10px; color: #FFF; background: #3AC4C3; text-align: center;}

/* TINYMCE EDITOR FULLSCREEN */
.mce-fullscreen #wpadminbar ,.mce-fullscreen .zn_front_pb_wrap { display: none; }


/* PREVENT THEMES FROM MESSIGN WITH OUR OPTIONS HTML */
.zn_option_container a ,  .zn_option_container a:hover , .zn_option_container a:visited {
  -webkit-transition: none !important;
  transition: none !important;
}

/* COLOR PICKER FIXES */
.zn_class_colorpicker , .zn_class_colorpicker * {
-webkit-box-sizing: initial;
box-sizing: initial;
}

.zn_class_colorpicker .wp-picker-container {line-height: 22px; }
.zn_class_colorpicker .wp-picker-container .button {color: #555; border-color: #CCC; background: #F7F7F7; -webkit-box-shadow: inset 0 1px 0 #FFF,0 1px 0 rgba(0, 0, 0, 0.08); box-shadow: inset 0 1px 0 #FFF,0 1px 0 rgba(0, 0, 0, 0.08); vertical-align: top; display: inline-block; text-decoration: none; height: 24px; margin: 0; cursor: pointer; border-width: 1px; border-style: solid; -webkit-appearance: none; border-radius: 3px; white-space: nowrap; -webkit-box-sizing: border-box; box-sizing: border-box; margin-left: 6px; line-height: 22px; padding: 0 8px 1px; font-size: 11px; }



/* PUBLISH BUTTON */
.zn_publish_loading {
  background: url("../img/ajax-loader.gif") no-repeat center center;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -13px;
  margin-top: -12px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}

.zn_publish_text {
  display: inline-block;
  line-height: 1;
}

.zn_publish_text , .zn_publish_loading {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.zn_publish.zn_active .zn_publish_text {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.zn_publish.zn_active .zn_publish_loading {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.zn_fpb_buttons a.zn_publish.zn_active {
  background:#E6E8EB;
}


.znpb-loading-in-progress:before {
  position: fixed;
  content: " ";
  width: 100%;
  height: 100%;
  z-index: 99999999;
}

/* BOTTOM PAGEBUIDLER STYLES */


.zn_pb_tab_wrapper { height:236px; background: #e6e8eb; -webkit-transition: height 0.3s ease-out; transition: height 0.3s ease-out; }
.znpb-editor-hidden .zn_pb_tab_wrapper { height: 0 !important;  }
.zn_pb_tab_wrapper.zn_in_dragg { -webkit-transition: none; transition: none; }

/** Sidebars **/
.zn_front_pb_wrap .zn_pb_sidebar {width: 230px;position: absolute;background: #2c2e38;color: #8e8f9d;height: 100%;}
/* Apply scrollbars */
.zn_front_pb_wrap .zn-sidebar-scroll {overflow:auto; height: 100%;}
/* Sidebar content */
.zn_pb_sidebar-content {padding:40px 20px 20px;text-align: center;color: #fff;}
.zn_pb_sidebar-content-title {font-size: 16px;margin-bottom: 20px;color:#fff;margin-top: 0;line-height: 1.4;font-family: "Open Sans";}
.zn_pb_sidebar-content-input {border-radius:20px;border: 1px solid #4D4C4C;margin-bottom: 30px;padding: 5px 20px;color:#A0A0A0;width: 100%;background: #31323b;-webkit-box-shadow: none;box-shadow: none; outline:0;}
.zn_pb_sidebar-content-input:focus {border-color:#6E6E6E;}
.zn_pb_sidebar-content-desc {font-size: 12px; color: rgba(255, 255, 255, 0.6);}
/* Sidebar buttons */
.zn_pb_sidebar_btn {color:#fff;background: #757780;font-size:12px;font-weight: 700;padding: 0 10px; display: inline-block; line-height: 45px; text-align:center; cursor: pointer;}
.zn_pb_sidebar_btn:focus,
.zn_pb_sidebar_btn:hover {color:#fff; background: #3ac4c3;}
/* Sidebar buttons wrapped */
.zn_pb_sidebar_btn-wrapper {position: absolute;bottom: 0;width:100%;left:0;z-index: 1;background: #2c2e38;}
.zn_pb_sidebar_btn-wrapper .zn_pb_sidebar_btn {float:left; width:calc(50% - 2px);}
.zn_pb_sidebar_btn-wrapper .zn_pb_sidebar_btn:first-child {margin-right: 2px;}
/* Scoll without buttons */
.zn_pb_sidebar_btn-wrapper ~ .zn_pb_sidebar-inner {height:calc(100% - 45px);}

/** TABS **/
.zn_pb_tab {position: relative;overflow: hidden;height: 100%;}
.zn_pb_tab,
.zn_pb_tab_content {background: #e6e8eb;}

/** TAB CONTENT **/
.zn_pb_tab_content  {margin: 20px 0 20px 230px; overflow: auto; height: 100% !important; position: relative; padding: 0 15px; }
.zn_pb_tab_content_no_sidebar { margin-left: 0; }
/* TEMPLATE TAB */
.zn_pb_template_container {float: left;margin: 10px;width:100px; text-align: center;position: relative; }
.zn_pb_el_title {position: relative;}


/* TEMPLATE ACTIONS */
.zn_pb_tpl_actions {opacity: 0;position: absolute;top: 0;left: 0;width: 100px;height: 96px;padding: 0 10px;background: rgba(58, 196, 195, 0.9);border-radius: 4px;color: #fff;}
.zn_pb_tpl_actions-title,
.zn_pb_tpl_actions-text-btn {font-size: 10px; text-transform: uppercase; font-weight: bold; line-height: 1.4; display: block; margin-bottom: 10px; color:#fff;}
.zn_pb_tpl_actions-title {margin-top:25px;}
.zn_pb_tpl_actions-text-btn {position: relative;top: 35px; -webkit-transition:top .15s ease-out; transition:top .15s ease-out;}
.zn_pb_tpl_actions-text-btn:focus,
.zn_pb_tpl_actions-text-btn:hover {color:#fff; text-decoration: underline;}
.zn_pb_load_template.zn_pb_tpl_actions-text-btn {font-size: 11px;}
.zn_pb_tpl_actions-btn {display: inline-block; margin: 0 2px; color: rgba(73, 73, 73, 0.69); }
.zn_pb_tpl_actions-btn:hover {color:#fff;}
.zn_pb_template_container:hover .zn_pb_tpl_actions,
.zn_pb_element_container:hover .zn_pb_tpl_actions {opacity: 1;}

/* Subactions */
.zn_pb_tpl_subactions {position: absolute;right: 10px;top: 5px;left: 10px;text-align: right;height: 30px;z-index:1;}
.zn_pb_tpl_subactions-chb {display: none;}
.zn_pb_tpl_subactions-trig {overflow:hidden;font-size: 38px;color: rgba(0, 0, 0, 0.5);letter-spacing: -3px;line-height: 28px;display: inline-block;width: 30px;text-align: center;cursor: pointer;position: absolute;right: 7px;top: 0px;height: 30px;font-weight: normal;}
.zn_pb_tpl_subactions-panel {display:none; height: 30px; position:absolute; right:8px; top:5px}
.zn_pb_tpl_subactions-panel a,
.zn_pb_tpl_subactions-panel .dashicons,
.zn_pb_tpl_subactions-panel .dashicons:before {height: 30px;line-height: 30px;}
.zn_pb_tpl_subactions-panel .dashicons:before {display: inline-block;}
.zn_pb_tpl_subactions-chb:checked ~ .zn_pb_tpl_subactions-trig { display:none;}
.zn_pb_tpl_subactions-chb:checked ~ .zn_pb_tpl_subactions-panel { display:block;}
.zn_pb_tpl_subactions-chb:checked ~ .zn_pb_tpl_actions-text-btn {top: 45px;}

/* Upload icon */
.zn_pb_uploadtpl {position: relative;}
.zn_pb_uploadtpl .zn_pb_el_title {font-size: 10px;}
.zn_pb_uploadtpl .znpb_upload_input {display: none;}
.zn_pb_el_uploadicon {display: block; cursor: pointer; position: relative;}
.zn_pb_el_uploadicon rect {fill: none; stroke: #757780; stroke-width: 3px; stroke-miterlimit: 10; stroke-dasharray: 8; stroke-dashoffset: 0; -webkit-animation: rotatedash 0s linear normal infinite; animation: rotatedash 0s linear normal infinite; }
.zn_pb_el_uploadicon path {-webkit-transition:opacity .15s ease-out; transition:opacity .15s ease-out;}
.zn_pb_el_uploadicon:hover path {fill:#444;}
.zn_pb_el_uploadicon:hover rect {stroke: #444; -webkit-animation-duration: 10s; animation-duration: 10s;}
@-webkit-keyframes rotatedash {from {stroke-dashoffset: 0;} to {stroke-dashoffset: 80;} }
@keyframes rotatedash {from {stroke-dashoffset: 0;} to {stroke-dashoffset: 80;} }
/* Uploading progress */
.zn_pb_templates_container.is-disabled {pointer-events: none;}
.zn_pb_el_uploadicon.is-uploading path {opacity:0;}
.zn_pb_el_uploadicon.is-uploading rect {opacity:0.6; -webkit-animation: none; animation: none;}
.zn_pb_el_uploadicon.is-uploading .zn_pb_el_uploadicon-progress {display: block;position: absolute;top: 50%;left: 50%;width: 30px;height: 30px;margin:-15px 0 0 -15px;line-height: 30px;font-size: 10px;}
.zn_pb_el_uploadicon.is-uploading .zn_pb_el_uploadicon-progress.is-flashing {-webkit-animation: is-flashing .7s linear infinite; animation: is-flashing .7s linear infinite;}
.zn_pb_el_uploadicon.is-uploading .zn_pb_el_uploadicon-progress:before {content:''; display: block; position: absolute; top: 0; left: 0; width: 30px; height: 30px; margin:0; border:2px solid transparent; border-top-color:#757780; border-bottom-color:#757780; border-radius:50%; -webkit-animation: rotate-progress 2s linear infinite; animation: rotate-progress 2s linear infinite; }
@-webkit-keyframes rotate-progress {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
}
@keyframes rotate-progress {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
}
@-webkit-keyframes is-flashing {
  from {opacity:1;}
  to {opacity:.4;}
}
@keyframes is-flashing {
  from {opacity:1;}
  to {opacity:.4;}
}
/* More actions panel */
.zn_pb_sidebar_more-chb {display: none;}
.zn_pb_sidebar_more-trig {overflow:hidden;font-size: 38px;color: rgba(255, 255, 255, 0.5);letter-spacing: -3px;line-height: 28px;display: inline-block;width: 30px;text-align: center;cursor: pointer;position: absolute;top:15px;right: 20px;height: 30px;font-weight: normal;z-index: 3;}
.zn_pb_sidebar_more-panel {position: absolute;top:0;left: 0;width: 100%;height: 100%;padding:60px 20px 0;-webkit-transform: scale(.2);transform: scale(.2);opacity: 0;visibility: hidden;z-index: 2;background: rgba(0, 0, 0, 0.85);color: #fff;}
.zn_pb_sidebar_more-panel a {color: rgba(255, 255, 255, 0.6);}
.zn_pb_sidebar_more-panel a:hover {color: rgba(255, 255, 255, 0.91);}
.zn_pb_sidebar_more-chb:checked ~ .zn_pb_sidebar_more-trig {color: rgba(255, 255, 255, 0.8);}
.zn_pb_sidebar_more-chb:checked ~ .zn_pb_sidebar_more-panel {-webkit-transform: scale(1);transform: scale(1); opacity: 1; visibility: visible;}

/** HIDDEN PB EDITOR **/
.znpb-editor-hidden .zn_pb_header {border-top: 2px solid #5A5A5A; }

/** SCROLLBARS **/
.zn-sidebar-scroll::-webkit-scrollbar-track, .zn_pb_tab_content::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #F5F5F5; }
.zn-sidebar-scroll::-webkit-scrollbar, .zn_pb_tab_content::-webkit-scrollbar {width: 6px; background-color: #F5F5F5; }
.zn-sidebar-scroll::-webkit-scrollbar-thumb, .zn_pb_tab_content::-webkit-scrollbar-thumb {background-color: rgba(0,0,0,0.5); }

/* PAGE CUSTOM CSS */
.zn_pb_custom_code .zn_pb_sidebar {padding: 25px;text-align: center;}
.zn_pb_custom_code .zn_pb_sidebar h4 {font-size: 16px; margin-bottom: 20px; color: #fff; }

/* Admin bar preview/edit button */
#wpadminbar .zn_preview_page_button > a,
#wpadminbar .ab-top-menu>.zn_preview_page_button:hover > a.ab-item,
#wpadminbar .ab-top-menu>.zn_preview_page_button > a.ab-item:active
{ background: #3ac4c3; color:#fff; }


/* ELEMENT OPTIONS UNIQUE SELECTOR BAR */
.zn_unique_selector_bar { background:#f5f5f5; padding: 4px 20px; color: #A9A9A9; border-top: 1px solid #dfdfdf; }

/* Because the header is positioned absolute, added this [temporary] hack for the first element in the PB */
/* Toggle header */
.toggle-header {width: 34px; height: 24px; line-height: 24px; text-align: center; background-color: #000; right: 3%; position: absolute; top: 0; display: block; z-index: 1001; border-radius: 0 0 2px 2px; -webkit-transition:height .3s ease-in-out, line-height .3s ease-in-out; transition:height .3s ease-in-out, line-height .3s ease-in-out; }
.toggle-header:after {content:'HIDE HEADER';font-size: 10px;color: #fff;line-height: 1.2;width: 60px;display: block;margin-left: -13px;margin-top: 4px;-webkit-transition: opacity .2s ease-in-out;transition: opacity .2s ease-in-out;opacity: 0;}
.toggle-header:hover {height:40px; line-height:40px; }
.toggle-header span { color: rgba(255, 255, 255, 0.7); }
.toggle-header:hover:after {opacity:1;}

.toggle-header + .site-header {-webkit-transition:-webkit-transform .3s ease-in-out; transition:-webkit-transform .3s ease-in-out; transition:transform .3s ease-in-out; transition:transform .3s ease-in-out, -webkit-transform .3s ease-in-out; z-index:1000;}
.toggle-header.site-header--hide + .site-header {-webkit-transform:translateY(-100%);transform:translateY(-100%);}
.toggle-header.site-header--hide span:before {content: "\e114"; }

/** ELEMENT SAVING **/
.zn_save_element_form { text-align: center; }

/* RTL */

.rtl .zn_pb_tab_content {
  margin: 20px 230px 20px 0;
}

.rtl .zn_fpb_buttons.zn_right {
  float: left;
}

.rtl .zn_fpb_buttons.zn_left {
  float: right;
}

.rtl .zn_pb_search[type=search] {
  float: right;
}

.rtl .zn_fpb_buttons.zn_left a {
  float: left;
  margin: 0;
  padding: 0 15px;
}

.rtl .zn-btn-ok {
  margin-left: 20px;
  margin-right: 0;
}

.rtl .zn-modal-title {
  float: right;
}

.rtl .zn-modal-close,
.rtl .zn-modal-resize {
  right: auto;
  left: 0;
}

.rtl .zn-modal-resize {
  left: 44px;
}

.rtl .zn-modal-resize span {
  border-right: 0;
  border-left: 1px solid #ccc;
  padding-right: 0;
  width: 44px;
}

body.rtl .zn_option_container h4 {
  text-align: right;
}

.rtl .zn_option_container .zn_option_desc,
.rtl .zn_option_container .zn_option_content {
  float: right;
  text-align: right;
}

.rtl .zn_slider > input {
  float: right;
}

.rtl .zn_option_content .ui-slider-horizontal {
  margin-right: 75px;
  margin-left: 0;
}

.rtl .zn_option_desc {
  padding-left: 10px;
  padding-right: 0;
}

.rtl .zn_group .zn_group_header .zn_group_actions {
  right: auto;
  left: 0;
}

.rtl .zn_group .zn_group_header h4 {
  float: right;
}

.rtl .zn_group .zn_group_header .zn_group_actions > a {
  float: right;
}

.rtl .zn_el_options_bar > span {
  float: right;
}

.rtl .zn_el_options_bar > a,
.rtl .zn_el_options_bar > a:hover {
  float: left;
}

.rtl .zn_pb_circle {
  margin-right: 0;
  margin-left: 10px;
}

.rtl .zn_toggle2 input {
  left: auto;
  right: -9999px;
}
/* Override  */
body.zn_pb_editor_enabled .zn_pb_el_container > .hidden-lg,
body.zn_pb_editor_enabled .zn_pb_el_container > .hidden-md,
body.zn_pb_editor_enabled .zn_pb_el_container > .visible-xs,
body.zn_pb_editor_enabled .zn_pb_el_container > .visible-sm,
body.zn_pb_editor_enabled .zn_pb_el_container > .visible-md,
body.zn_pb_editor_enabled .zn_pb_el_container > .visible-lg {display:block !important;}

/* PB manager */
.single-znpb_template_mngr header#header, .single-znpb_template_mngr .toggle-header, .single-znpb_template_mngr footer#footer,
.single-znpb_template_mngr header#site-header, .single-znpb_template_mngr .toggle-header, .single-znpb_template_mngr footer#site-footer,
.single-znpb_template_mngr .znpb-footer-smart-area {display: none;}
.single-znpb_template_mngr #page_wrapper { min-height: 100vh !important; }

.ui-draggable-dragging .zn_pb_delete_saved_el{ display: none; }

.zn_button_save_element {
  margin-right: 5px;
}

.znhg-uneditable-area-url {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
		  transform: translateX(-50%);
  background: #986699;
  padding: 5px 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  margin-top: -10px;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  visibility: hidden;
  border-radius: 3px;
  z-index: 1;
}

.znhg-uneditable-area:hover .znhg-uneditable-area-url{
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}

.znhg-uneditable-area-url:hover,
.znhg-uneditable-area-url:active,
.znhg-uneditable-area-url:focus {
  color:#fff;
}

.znhg-uneditable-area-url .dashicons-admin-generic{
  padding-left: 5px;
  font-size: 13px;
  padding: 0 0 0 5px;
  height: auto;
  width: auto;
  line-height: 20px;
}

/* Hidden Elements */
.znklpb-element-hidden {}
.znklpb-element-hidden:hover{outline-color: #FECBCB ! important; }
.znklpb-element-hidden .zn_el_options_bar {background: #D77070 ! important; }
.znklpb-element-hidden .zn_el_options_bar > .zn_pb_icon:hover {background: #b96161; }
.znklpb-element-hidden .znpb_icon-eye:before { content: '\e807'; }
.znklpb-element-hidden:after{position: absolute; width: 100%; height: 100%; background: #FECBCB; z-index: 999; top: 0; left: 0; content:''; }

/* Hide Page view options button in single smart area editor */
.single-znpb_template_mngr .zn_pb_icon.zn_pb_options_trigger { display: none !important; }

/* Force small height */
.znklpb-element-hidden {min-height:80px;}
.znklpb-element-hidden:not(:only-child) {margin-bottom: 30px;}
.znklpb-element-hidden + .znklpb-element-hidden {margin-top: 5px;}
.znklpb-element-hidden > *:not(.zn_el_options_bar) {display: none;}
.znklpb-element-hidden:after{ text-align: center; font-size: 12px; line-height: 1.6; color: #a76363; padding: 35px 15px 0; content: attr(data-hidden-text);  }
