<!-- Action box style 3 new section -->
<section class="hg_section bg-white ptop-80 pbottom-80" id="mercado-oca">
<div class="container">
<div class="row">
  <div class="col-md-12 col-sm-12">
    <!-- Action box element style 3 -->
    <div class="action_box style3" data-arrowpos="center">
      <div class="action_box_inner">
        <div class="action_box_content">
          <!-- Content -->
          <div class="ac-content-text">
            <h4 class="text"><span class="fw-thin">PAGA <span class="fw-semibold">EN 12 CUOTAS SIN INTERES</span> Y RECIBI TODO EN TU CASA</span></h4>
            <h5 class="ac-subtitle"> Trabajamos MercadoPago y OCA ePack</h5>
          </div>
          <!--/ Content -->
          <!-- <img src="logo-ocaepak.png" alt="" /> -->

          <!-- Buttons -->
          <div class="ac-buttons" style="margin: 0 auto;">
            <div class="sprite sprite-mpago" style="margin: 0 auto 5px auto;" ></div>
            <div class="sprite sprite-ocaepak" style="margin: 0 auto;"></div>

            <!-- <a class="btn btn-lined ac-btn" href="#" target="_blank">Mercadopago</a><a class="btn btn-fullwhite ac-btn" href="#" target="_blank">ePack</a> -->
          </div>
          <!--/ Buttons -->
        </div>
        <!--/ .action_box_content -->
      </div>
      <!--/ .action_box_inner -->
    </div>
    <!--/ .action_box .style3 -->
  </div>
  <!--/ col-md-12 col-sm-12 -->
</div>
<!--/ row -->
</div>
<!--/ container -->
</section>
<!--/ Action box style 3 new section -->
